<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://unpkg.com/vue@next"></script>
    <title>titulo</title>
</head>

<body>

    <form class ="trabalho" id="formPrincipal">

        <span>teste de aprendizado:</span>
        <br>
        <textarea class="box" v-model="texto" placeholder="digite uma frase aqui"></textarea>
        
        <p style="white-space: pre-line" v-bind:style="{color:corTexto}">{{ textoAprendizagem }}</p>
        
        
        <input type="controle" name="cores" v-on:click="corTexto = 'red'"> vermelho </input>
        <input type="controle" name="cores" v-on:click="corTexto = 'pink'"> rosa </input>
        <input type="controle" name="cores" v-on:click="corTexto = 'green'"> verde </input>
    </form>

    <script src="./projeto.js"></script>

    <textarea class="box2"v-model="textoAprendizagem" placeholder="digite o codigo de identificação"></textarea>
</body>

</html>